.home {
  background-color: lightblue;
}
h1 {
  background: rgb(97, 122, 110);
  .header {
    padding: 15px;
  }
  .totaal {
    border-radius: 100%;
    border: 1px solid lightblue;
    background-color: lightblue;
    padding: 5px;
    font-size: 14px;
    &:hover {
      cursor: pointer;
      background-color: rgb(125, 171, 186);
    }
  }
}

td {
  background-color: #e2e7e7;
  &:hover {
    cursor: pointer;
    background-color: #d6eeee;
  }
}
